<div id="<%= dom_id requirement %>">
  <p>
    <strong>Name:</strong>
    <%= requirement.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= requirement.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= requirement.user_id %>
  </p>

</div>
